
/* CSS RESET-------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------- CSS STARTER HER ---------*/

/* .stats > * {
    display: block;
} */

.lil-gui.root {
    position: fixed;
    bottom: 0;
    right: -100%;
    transition: right 0.8s ease-in-out;
}

.lil-gui.open {
    right: 0;
}

.settings {
    display: inline-block;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.coordinatesText {
    position: fixed;
    bottom: 1rem;
    left: 100px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #02f1e5;
}

.loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #0000FF;
    background-image: url('./textures/uit_bakgrunn.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 2.5s ease-in-out;
    /* border: 5px solid #02f1e5; */
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.loadingScreen .heading {
    font-size: 4.5rem;
    letter-spacing: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #090554;
    text-align: center;
    margin-top: 1rem;
    text-shadow: 5px 5px 10px #000000;
}

.loadingScreen .underoverskrift {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #090554;
    text-align: center;
    margin-top: 0.2rem;
}

.loadingScreen .loadingBox {
    width: 40rem;
    padding: 1rem;
    background: black;
    color: #090554;
    margin-top: 7rem;
    border: 2px solid #AAAAAA;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.loadingScreen .filnavn {
    font-size: 0.5rem;
    font-family: monospace;
    color: #00F300;
}

.loadingScreen hr {
    width: 50%;
    margin: 2rem auto;
    border: 1px solid #090554;
}

.startButtonContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 5px solid #090554; */
}
.startButtonContainer .hide {
    opacity: 0;
    pointer-events: none;
}

.startButton {
    margin-top: 15rem;
    width: 10rem;
    height: 3rem;
    background: #090554;
    color: #00F300;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #00F300;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition: background 0.5s ease-in-out;
}
.startButton:hover {
    background: #00F300;
    color: #090554;
    border: 2px solid #090554;
}
.startButton:active {
    background: #090554;
    color: #00F300;
    border: 2px solid #00F300;
}

.start-message {
    background-color: rgba(0, 0, 1, 0.5);
    border: 2px solid #00F300;
    color: #00FF00;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    position: fixed;
    top: 3rem;
    left: 25%;
    right: 25%;
    padding: 1rem;
    font-weight: 600;
    font-size: 2rem;
    transition: opacity 1.5s ease-in-out;
}

.settings {
    width: 5rem;
    height: 2rem;
    background: #090554;
    color: #00F300;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #00F300;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition: background 0.5s ease-in-out;
}
.settings:hover {
    background: #00F300;
    color: #090554;
    border: 2px solid #090554;
}
.settings:active {
    background: #090554;
    color: #00F300;
    border: 2px solid #00F300;
}

.gui-container {
    display: block;
}
.gui-container.hide {
    display: none;
}

.progressbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.progressbar-wrapper {
    display: block;
    position: fixed;
    bottom: 10%;
    left: 10%;
    right: 10%;
    width: 80%;
    
    height: 1.5rem;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #00F300;
    background: #090554;
    padding: 0.2rem;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.3);
    transition: opacity 1.5s ease-in-out
}

#progressbar {
    display: flex;
    height: 1.5rem;
    width: 0%;
    background-color: #00F300;
    background-image: linear-gradient(
        center bottom,
        rgb(43, 194, 83) 37%,
        rgb(84, 240, 84) 69%
    );
    position: relative;
    overflow: hidden;
    font-size: 1em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #090554;
    transition: all 0.7s ease;
    border-radius: 6px;
}

.progressbar-text {
    display: flex;
    position: fixed;
    width: 40%;
    height: 5rem;
    bottom: 15%;
    left: 30%;
    right: 30%;
    align-items: center;
    justify-content: center;
    background-color: #090554;
    line-height: 1.5rem;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #00F300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    transition: opacity 1.5s ease-in-out
}